@import "tailwindcss";


/* ตกแต่งปุ่ม Google Translate ให้ดูสะอาดตาขึ้น */
.google-translate-container {
  min-height: 40px;
  display: flex;
  align-items: center;
}

.goog-te-gadget-simple {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 1px solid #eee !important;
  padding: 6px 12px !important;
  border-radius: 12px !important;
  font-family: inherit !important;
  cursor: pointer !important;
}

.goog-te-gadget-icon {
  display: none !important; /* ซ่อนโลโก้ Google เล็กๆ */
}

/* ซ่อนแถบ Top Bar ของ Google ที่ชอบเด้งขึ้นมา */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}